/* 分区根元素 */
body {
  color: var(--text);
  background: var(--bg);
  line-height: 1.5;
  margin: 0;
}

/* 内容分区 */

body > header {
  background: var(--bg-accent);
  width: 100vw;
  box-shadow: 0 2px 8px var(--shadow);
}

body > header > nav {
  max-width: var(--width);
  min-height: var(--height);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body > header > nav a {
  text-decoration: none;
  margin: 0 5px;
  padding: 0 5px;
  /* border: 1px solid var(--border); */
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--shadow);

}
body > header > nav a:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

/* body > header > nav :last-child {
  margin-right: 0;
} */

/* body > header > nav > :first-child {
  color: red;
  flex: auto;
} */

main {
  max-width: var(--width);
  margin: 0 auto;
  
}

body > footer {
  background: var(--bg-accent);
}

body > footer nav {
  max-width: var(--width);
  min-height: var(--height);
  margin: 0 auto;
}

article {
  /* border: 1px solid var(--border); */
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--shadow);
  padding: 10px;
}
