/*
  全局变量
  - 字体
  - 常用布局单位
*/
:root {
  /* 配置非衬线字体和等宽字体 */
  --sans: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono: Consolas, Menlo, Mono, monospace;

  /* 宽度 */
  --width: 768px;

  /* 高度 */
  --height: 64px;
}

/* 首选配色方案 */
@media (prefers-color-scheme: light) {
  :root {
    /* 背景 */
    --bg: white;
    /* 背景强调 */
    --bg-accent: slategray;
    /* 文本 */
    --text: #333333;
    /* 文本强调色 */
    --text-accent: seashell;
    /* 链接 */
    --link: palevioletred;
    /* 边框 */
    --border: gray;
    /* 代码 */
    --code: deeppink;
    /* 阴影颜色 */
    --shadow: darkgrey;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 背景 */
    --bg: #1c1b22;
    /* 背景强调 */
    --bg-accent: #242424;
    /* 文本颜色 */
    --text: #eeeeee;
    /* 文本强调色 */
    --text-accent: lightslategray;
    /* 链接 */
    --link: violet;
    /* 边框颜色 */
    --border: 1px solid gray;
    /* 代码颜色 */
    --code: deeppink;
    /* 阴影颜色 */
    --shadow: black;
  }
}
